<a href="https://colab.research.google.com/github/serlysetyani/k-nearest-neighbors/blob/main/kNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **IMPORT LIBRARY**

In [ ]:
import pandas as pd

# **READ DATA**

In [ ]:
data = pd.read_excel("https://github.com/serlysetyani/k-nearest-neighbors/blob/main/mobil.xls?raw=true")
data

              Nama Mobil  Ukuran  ...  Kecepatan  Harga (Ratus Juta)
0            Toyota Agya       4  ...          6                1.00
1          Daihatsu Alya       4  ...          6                1.10
2          Toyota Avanza       6  ...          6                2.00
3         Daihatsu Xenia       6  ...          6                1.75
4                Xpander       7  ...          7                2.25
5                 Livina       7  ...          7                2.10
6                Karimun       3  ...          5                1.20
7          Toyota Innova       8  ...          7                4.00
8                Alphard       9  ...          8               10.00
9            Toyota Vios       5  ...          8                2.50
10            Honda City       5  ...          8                2.70
11          Toyota Hiace      10  ...          6                5.00
12       Toyota Fortuner       9  ...          8                5.00
13           Toyota Foxy       9  ...          7                5.50
14  Toyota Corolla Altis       5  ...          9                6.00
15         Suzuki Ertiga       7  ...          7                2.30
16          Suzuki Carry       7  ...          5                0.80

[17 rows x 6 columns]

# **PRAPEMROSESAN DATA**

In [ ]:
data.isna().sum()

Nama Mobil            0
Ukuran                0
Kenyamanan            0
Irit                  0
Kecepatan             0
Harga (Ratus Juta)    0
dtype: int64

In [ ]:
data.drop("Nama Mobil", axis=1)

    Ukuran  Kenyamanan  Irit  Kecepatan  Harga (Ratus Juta)
0        4           4     9          6                1.00
1        4           3     9          6                1.10
2        6           5     6          6                2.00
3        6           4     6          6                1.75
4        7           7     6          7                2.25
5        7           7     6          7                2.10
6        3           4    10          5                1.20
7        8           8     5          7                4.00
8        9          10     4          8               10.00
9        5           7     9          8                2.50
10       5           8     7          8                2.70
11      10           5     8          6                5.00
12       9           8     5          8                5.00
13       9           9     5          7                5.50
14       5           9     7          9                6.00
15       7           7     7          7                2.30
16       7           3     9          5                0.80

# **PERHITUNGAN UKURAN JARAK**

In [ ]:
def euclidean_distance(x1,x2):
  distance = 0
  for i in range(len(x1)):
    distance += (x1[i] - x2[i])**2
  return distance ** 0.5

def manhattan_distance(x1,x2):
  distance = 0
  for i in range(len(x1)):
    distance += abs(x1[i] - x2[i])
  return distance

def minkowski_distance(x1,x2):
  distance = 0
  h = 3
  for i in range (len(x1)):
    distance += abs(x1[i] - x2[i])**h
  return distance ** (1/h)

def supremum_distance(x1,x2):
  distance = []
  for i in range(len(x1)):
    distance.extend([abs(x1[i]-x2[i])])
  return max(distance)

# **STRATEGI PENGGUNAAN KNN**

In [ ]:
def convert_list(train_data):
  ukuran = train_data.get('Ukuran')
  kenyamanan = train_data.get('Kenyamanan')
  irit = train_data.get('Irit')
  kecepatan = train_data.get('Kecepatan')
  harga = train_data.get('Harga (Ratus Juta)')
  return [ukuran, kenyamanan, irit, kecepatan, harga]

In [ ]:
def knn(k):
  euclidean_distance_list, manhattan_distance_list, minkowski_distance_list, supremum_distance_list = [],[],[],[]
 
  for i in range(len(data)):
    euclidean_distance_list.append([euclidean_distance(convert_list(data.iloc[i]),data_test),i])
    manhattan_distance_list.append([manhattan_distance(convert_list(data.iloc[i]),data_test),i])
    minkowski_distance_list.append([minkowski_distance(convert_list(data.iloc[i]),data_test),i])
    supremum_distance_list.append([supremum_distance(convert_list(data.iloc[i]),data_test),i])
  euclidean_distance_list.sort()
  manhattan_distance_list.sort()
  minkowski_distance_list.sort()
  supremum_distance_list.sort()
 
  return euclidean_distance_list[:k], manhattan_distance_list[:k], minkowski_distance_list[:k] , supremum_distance_list[:k]

# **MAIN PROGRAM**

**Cek semua metode**

In [ ]:
print("Inputkan data tes:")
ukuran = int(input('Ukuran: '))
kenyamanan = int(input('Kenyamanan: '))
irit = int(input('Irit: '))
kecepatan = int(input('Kecepatan: '))
harga = float(input('Harga: '))
print()
data_test = [ukuran,kenyamanan,irit,kecepatan,harga]

euclidean_result, manhattan_result, minkowski_result, supremum_result= knn(3)

print('Rekomendasi (Euclidean):')
for i in range(len(euclidean_result)):
  print(str(i+1)+'.'+' '+data.iloc[euclidean_result[i][1]]['Nama Mobil'])
print()
 
print('Rekomendasi (Manhattan):')
for i in range(len(manhattan_result)):
  print(str(i+1)+'.'+' '+data.iloc[manhattan_result[i][1]]['Nama Mobil'])
print()
 
print('Rekomendasi (Minkowski):')
for i in range(len(minkowski_result)):
  print(str(i+1)+'.'+' '+data.iloc[minkowski_result[i][1]]['Nama Mobil'])
print()

print('Rekomendasi (Supremum):')
for i in range(len(supremum_result)):
  print(str(i+1)+'.'+' '+data.iloc[supremum_result[i][1]]['Nama Mobil'])
print()

Inputkan data tes:
Ukuran: 7
Kenyamanan: 8
Irit: 7
Kecepatan: 7
Harga: 5

Rekomendasi (Euclidean):
1. Toyota Innova
2. Suzuki Ertiga
3. Toyota Fortuner

Rekomendasi (Manhattan):
1. Suzuki Ertiga
2. Toyota Innova
3. Xpander

Rekomendasi (Minkowski):
1. Toyota Innova
2. Toyota Fortuner
3. Toyota Foxy

Rekomendasi (Supremum):
1. Toyota Innova
2. Toyota Fortuner
3. Toyota Foxy

**mengeluarkan output file rekomendasi (Manhattan)**

In [ ]:
rekomendasi_manhattan = []
for i in range(len(manhattan_result)):
  rekomendasi_manhattan.extend([data.iloc[manhattan_result[i][1]]['Nama Mobil']])
rekomendasi = pd.DataFrame(rekomendasi_manhattan)
rekomendasi.to_excel('rekomendasi.xls',index=False, header=False)